In [ ]:
#Extract patterns from String

In [2]:
text = "1998 The film Titanic was released in year"

In [4]:
text.find("1998")

0

In [6]:
if text.find("film")>=0:
    print(text)

1998 The film Titanic was released in year

Basic meta charecters used in regular expressions

    . -> matches a single character
    * -> matches zero or more occourrence of the previous charecter
    + -> matches one or more occourrence of the previous charecter
    ^ -> matches any character start of a string
    $ -> matches any character end of a string
    [] -> matches one of the set of characters within []
    [a-z] -> matches on of the range of characters in lowercase alphabet
    [^abc] -> matches a character that is not a, b, or c

## Whats the purpose of regular expressions?

Regular Expressions are extensively used for:
       
        1.To Extract insignts about the text -> search() and findall()
        2.To Clean the text -> sub()

In [7]:
import re

In [ ]:
#re.search returns a match object, if the pattern is present in the string

In [8]:
text = "1998 The film Titanic was release in year. The year 1998 was very glorous"

In [9]:
match = re.search("1998", text)
match

In [10]:
#Returns the first occurrence of the pattern
match.group()

'1998'

In [11]:
#Returns the starting index and ending index of the matched pattern
match.span()

(0, 4)

In [14]:
match = re.search("1996", text)

In [13]:
#Find out the reason for the below error, provide a fix to the below error
match.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [15]:
#if the match object is present then print the message, pattern found
if match:
    print("pattern ",match.group(), " found in the text")
else:
    print("pattern not found in the text")

pattern not found in the text

In [16]:
match = re.search("^1998", text)
if match: # ^ to check from Begining 
    print("pattern found in the text")
    print("the matched pattern is",match.group())

pattern found in the text
the matched pattern is 1998

In [17]:
result = re.search("^1998 ", text)
if result: # ^ to check from Begining 
    print("pattern found in the text")
    print("the matched pattern is",result.group())
    length = result.span()[1]-result.span()[0]
    print("the length of the matched pattern is",length)

pattern found in the text
the matched pattern is 1998
the length of the matched pattern is 5

In [18]:
text = "The film Titanic was released in year 1998 and was a hit till the year 2000 \n5000 was the cost of the mobile\ni baragined it to"

In [19]:
print(text)

The film Titanic was released in year 1998 and was a hit till the year 2000
5000 was the cost of the mobile
i baragined it to

In [20]:
text.split("\n")

['The film Titanic was released in year 1998 and was a hit till the year 2000 ',
 '5000 was the cost of the mobile',
 'i baragined it to']

In [21]:
#Checking for lines containing one or more digits and printing those lines
for line in text.split("\n"):
    find = re.search("[0-9]+",line)
    if find: 
        print(line)

The film Titanic was released in year 1998 and was a hit till the year 2000
5000 was the cost of the mobile

In [22]:
#Checking for lines beginning with one or more digits
for line in text.split("\n"):
    find = re.search("^[0-9]+",line)
    if find: 
        print(line)

5000 was the cost of the mobile

In [23]:
#Checking for lines ending with one or more digits
for line in text.split("\n"):
    find = re.search("[0-9]+$",line)
    if find: 
        print(line)

In [24]:
for line in text.split("\n"):
    line = line.strip()
    find = re.search("[0-9]+$",line)
    if find: 
        print(line)

The film Titanic was released in year 1998 and was a hit till the year 2000

 Extended Regular Expressions:
 
     \d -> Any digit, equivalent to [0-9]
     \D -> Any non-digit, equivalent to [^0-9]
     \s -> Any whitespace, equivalent to [ \t\n\r]
    \S -> Any nonwhitespace, equivalent to [a-zA-Z0-9_]
    \w -> Any alphanumeric, equivalent to [a-zA-Z0-9_]
    \W -> Non-alphanumeric, equivalent to [^a-zA-Z0-9_]
  
    () -> Scoping for extraction
    ? -> make the pattern non greedy
    {n} -> multiplicity of the pattern

In [25]:
text = 'A message from csev@umich.edu to cwen@iupui.edu about meeting @2PM'

In [26]:
# Extract the Email ID's from the text
match = re.search("\S+@\S+", text)
print(match.group())

csev@umich.edu

In [27]:
re.findall("\S+@\S+", text)

['csev@umich.edu', 'cwen@iupui.edu']

In [29]:
#spcify Scoping to extract only the domain
re.findall("\S+@(\S+)", text)

['umich.edu', 'iupui.edu']

In [30]:
#Extract the email ID portion excluding the domain
re.findall("(\S+)@\S+", text)

['csev', 'cwen']

In [31]:
#What does the below code do?
match = re.search("\s+@\S+", text)
print(match.group())

 @2PM

In [32]:
text = "The film Titanic was released in year 1998 and was a hit till the year 2000 \n5000 was the cost of the mobile\ni baragined it to a lower price"
print(text)

The film Titanic was released in year 1998 and was a hit till the year 2000
5000 was the cost of the mobile
i baragined it to a lower price

In [33]:
#Find all the years which is mentioned in each line of the text
for line in text.split("\n"):
    line = line.strip()
    result = re.findall("[0-9]+",line)
    print(result)

['1998', '2000']
['5000']
[]

In [34]:
for line in text.split("\n"):
    line = line.strip()
    result = re.findall("[0-9]+",line)
    if len(result)>0:
        print(result)

['1998', '2000']
['5000']

In [35]:
text = "The film Titanic was released in year 98 and was a hit till the year 2000 \n5000 was the cost of the mobile\ni baragined it to"
print(text)

The film Titanic was released in year 98 and was a hit till the year 2000
5000 was the cost of the mobile
i baragined it to

In [38]:
for line in text.split("\n"):
    line = line.strip()
    find = re.findall("[0-9]{4}",line)
    if len(find)>0: 
        print(find)

['2000']
['5000']

In [39]:
text = "I want to buy laptop between 40000 to 60000 Rs"
# I want to extract all the digits from this text 
result = re.findall("\d+", text)
result

['40000', '60000']

In [41]:
text = "film ABC  @ was ? produced %  in , year $ 1994  .  'by'   Mr_X"

In [42]:
#Removing multiple spaces with a single space
result = re.sub("\s+", " ", text)
result

"film ABC @ was ? produced % in , year $ 1994 . 'by' Mr_X"

In [43]:
#Removing special charecters with nothing
result1 = re.sub("[,@'?.$%_]", "", result)
result1

'film ABC  was  produced  in  year  1994  by MrX'

In [44]:
#Removing special charecters(non Alpha numeric and Space) with nothing
re.sub("[^a-zA-Z0-9 ]","",result)

'film ABC  was  produced  in  year  1994  by MrX'

In [45]:
# \W -> Alphanumeric with underscores
#\s -> Space
re.sub("[^\w\s]","",result)

'film ABC  was  produced  in  year  1994  by Mr_X'

In [46]:
text = """this book costs between 5000 to 10000 rs. am i going to read this book?
yes,this is very interesting"""

In [47]:
print(re.sub("[0-9]","",text))

this book costs between  to  rs. am i going to read this book?
yes,this is very interesting

In [48]:
print(re.sub("[\d]","",text))

this book costs between  to  rs. am i going to read this book?
yes,this is very interesting

In [49]:
def remove_digit(text):
    result = re.sub("\d", "", text)
    return result

In [50]:
print(remove_digit(text))

this book costs between  to  rs. am i going to read this book?
yes,this is very interesting

In [51]:
#removal of non alphabets and non digits
re.sub("[^a-zA-Z0-9 _]","",text)

'this book costs between 5000 to 10000 rs am i going to read this bookyesthis is very interesting'

In [52]:
re.sub("[^\w ]","",text)

'this book costs between 5000 to 10000 rs am i going to read this bookyesthis is very interesting'

Removal of HTML Tag from text

In [61]:
text = """<div>
<h1> H2O</h1>
<p> AutoML</p>
<a href="https://www.amazon.ai/products/h2o-driverless-ai/"> Driverless AI</a>
</div>"""

In [ ]:
#We can combine a regular expression pattern into pattern objects, 
#which can later be used for finding the pattern in the string
html_pattern = re.compile('<.*?>') # one or more occourrence of any chatecter between < and >

In [ ]:
#.* is greedy - it matches everything including the closing angular bracket >
# .* should stop matching a pattern as soon as it encounters the closing angular bracket
# henve use a "?" along with .* to make it non greedy

In [ ]:
print(html_pattern.sub('', text))

In [60]:
print(re.sub('<.*?>',"",text))

 H2O
 AutoML

In [57]:
def remove_html(text):
    html_pattern = re.compile('<.*?>') # Find out anything that is in between < & > symbol 
    return html_pattern.sub('', text)

In [58]:
print(remove_html(text))

 H2O
 AutoML
 Driverless AI