In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re

In [2]:
os.getcwd()

'C:\\Users\\IN0202'

In [3]:
os.chdir(r"D:\Personal\Analytics course\IPBA\Case Study")

In [5]:
os.getcwd()

'D:\\Personal\\Analytics course\\IPBA\\Case Study'

In [10]:
raw_data = pd.read_excel("NSE 2018 data.xlsx")

In [11]:
raw_data.head(10)

,SYMBOL,sector,OPEN,HIGH,LOW,CLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,20MICRONS,Mining,58.95,60.70,57.90,58.75,156506,9316661.05,2018-01-01,1527
1,20MICRONS,Mining,58.75,60.55,57.65,58.05,173946,10190754.15,2018-01-02,994
2,20MICRONS,Mining,58.70,60.50,58.50,59.20,191320,11345473.80,2018-01-03,1004
3,20MICRONS,Mining,59.45,63.20,58.60,62.60,812025,50057113.35,2018-01-04,5189
4,20MICRONS,Mining,64.80,67.00,63.00,63.60,1129498,73646779.85,2018-01-05,7645
5,20MICRONS,Mining,64.00,64.25,61.05,61.65,298210,18580153.50,2018-01-08,2177
6,20MICRONS,Mining,62.15,64.70,60.00,62.50,509757,32010514.30,2018-01-09,2964
7,20MICRONS,Mining,62.60,63.30,60.25,60.95,183357,11290482.45,2018-01-10,1370
8,20MICRONS,Mining,60.95,62.50,60.30,61.10,162283,9945594.35,2018-01-11,1043
9,20MICRONS,Mining,61.70,62.30,57.00,59.80,227365,13683355.75,2018-01-12,1779

In [12]:
raw_data.shape

(320754, 10)

In [13]:
raw_data.isnull().sum()

SYMBOL             0
sector         98041
OPEN               0
HIGH               0
LOW                0
CLOSE              0
TOTTRDQTY          0
TOTTRDVAL          0
TIMESTAMP          0
TOTALTRADES        0
dtype: int64