In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re

In [3]:
os.getcwd()

'C:\\Users\\IN0202'

In [8]:
os.chdir(r"D:\Personal\Analytics course\IPBA\Case Study\hundred")
path=r"D:\Personal\Analytics course\IPBA\Case Study\hundred"

In [9]:
os.getcwd()

'D:\\Personal\\Analytics course\\IPBA\\Case Study\\hundred'

In [15]:
from os import listdir
filepaths = [f for f in listdir(path) if f.startswith('Stock')]
print(filepaths)

['Stock_ABBOTINDIA.xlsx', 'Stock_ACC.xlsx', 'Stock_ADANIPORTS.xlsx', 'Stock_ADANITRANS.xlsx', 'Stock_AMBUJACEM.xlsx', 'Stock_ASIANPAINT.xlsx', 'Stock_AUROPHARMA.xlsx', 'Stock_AXISBANK.xlsx', 'Stock_BAJAJ-AUTO.xlsx', 'Stock_BAJAJFINSV.xlsx', 'Stock_BAJAJHLDNG.xlsx', 'Stock_BAJFINANCE.xlsx', 'Stock_BANDHANBNK.xlsx', 'Stock_BANKBARODA.xlsx', 'Stock_BERGEPAINT.xlsx', 'Stock_BHARTIARTL.xlsx', 'Stock_BIOCON.xlsx', 'Stock_BOSCHLTD.xlsx', 'Stock_BPCL.xlsx', 'Stock_BRITANNIA.xlsx', 'Stock_CADILAHC.xlsx', 'Stock_CIPLA.xlsx', 'Stock_COALINDIA.xlsx', 'Stock_COLPAL.xlsx', 'Stock_CONCOR.xlsx', 'Stock_DABUR.xlsx', 'Stock_DIVISLAB.xlsx', 'Stock_DLF.xlsx', 'Stock_DMART.xlsx', 'Stock_DRREDDY.xlsx', 'Stock_EICHERMOT.xlsx', 'Stock_GAIL.xlsx', 'Stock_GICRE.xlsx', 'Stock_GODREJCP.xlsx', 'Stock_GRASIM.xlsx', 'Stock_HAVELLS.xlsx', 'Stock_HCLTECH.xlsx', 'Stock_HDFC.xlsx', 'Stock_HDFCAMC.xlsx', 'Stock_HDFCBANK.xlsx', 'Stock_HDFCLIFE.xlsx', 'Stock_HEROMOTOCO.xlsx', 'Stock_HINDALCO.xlsx', 'Stock_HINDPETRO.xlsx', 'Stock_HINDUNILVR.xlsx', 'Stock_HINDZINC.xlsx', 'Stock_ICICIBANK.xlsx', 'Stock_ICICIGI.xlsx', 'Stock_ICICIPRULI.xlsx', 'Stock_IGL.xlsx', 'Stock_INDIGO.xlsx', 'Stock_INDUSINDBK.xlsx', 'Stock_INFRATEL.xlsx', 'Stock_INFY.xlsx', 'Stock_IOC.xlsx', 'Stock_ITC.xlsx', 'Stock_JSWSTEEL.xlsx', 'Stock_KOTAKBANK.xlsx', 'Stock_LT.xlsx', 'Stock_LUPIN.xlsx', 'Stock_M&M.xlsx', 'Stock_MARICO.xlsx', 'Stock_MARUTI.xlsx', 'Stock_MCDOWELL-N.xlsx', 'Stock_MOTHERSUMI.xlsx', 'Stock_MUTHOOTFIN.xlsx', 'Stock_NAUKRI.xlsx', 'Stock_NESTLEIND.xlsx', 'Stock_NHPC.xlsx', 'Stock_NMDC.xlsx', 'Stock_NTPC.xlsx', 'Stock_OFSS.xlsx', 'Stock_ONGC.xlsx', 'Stock_PAGEIND.xlsx', 'Stock_PEL.xlsx', 'Stock_PETRONET.xlsx', 'Stock_PFC.xlsx', 'Stock_PGHH.xlsx', 'Stock_PIDILITIND.xlsx', 'Stock_PNB.xlsx', 'Stock_POWERGRID.xlsx', 'Stock_RELIANCE.xlsx', 'Stock_SBICARD.xlsx', 'Stock_SBILIFE.xlsx', 'Stock_SBIN.xlsx', 'Stock_SHREECEM.xlsx', 'Stock_SIEMENS.xlsx', 'Stock_SRTRANSFIN.xlsx', 'Stock_SUNPHARMA.xlsx', 'Stock_TATAMOTORS.xlsx', 'Stock_TATASTEEL.xlsx', 'Stock_TCS.xlsx', 'Stock_TECHM.xlsx', 'Stock_TITAN.xlsx', 'Stock_TORNTPHARM.xlsx', 'Stock_UBL.xlsx', 'Stock_ULTRACEMCO.xlsx', 'Stock_UPL.xlsx', 'Stock_WIPRO.xlsx', 'Stock_ZEEL.xlsx']

In [91]:
# raw_data = pd.read_excel("NSE 2018 data.xlsx")
raw_data= pd.concat(map(pd.read_excel, filepaths))

In [92]:
raw_data.tail(10)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
2661,2020-09-18,ZEEL,EQ,221.10,223.40,226.65,219.20,219.75,220.30,223.08,24883313,5.551078e+14,132427.0,3851022,0.1548
2662,2020-09-21,ZEEL,EQ,220.30,221.75,224.80,204.35,210.50,210.70,215.91,29829634,6.440420e+14,206994.0,4525180,0.1517
2663,2020-09-22,ZEEL,EQ,210.70,212.35,212.35,193.35,196.70,197.10,200.46,54161525,1.085714e+15,261401.0,9690771,0.1789
2664,2020-09-23,ZEEL,EQ,197.10,200.10,203.05,177.40,190.70,191.80,189.96,65002964,1.234826e+15,348096.0,8663237,0.1333
2665,2020-09-24,ZEEL,EQ,191.80,185.00,195.80,182.85,193.50,190.35,190.14,76316695,1.451102e+15,279397.0,24361908,0.3192
2666,2020-09-25,ZEEL,EQ,190.35,197.55,201.50,183.20,197.30,198.20,192.54,61557172,1.185250e+15,301334.0,6573633,0.1068
2667,2020-09-28,ZEEL,EQ,198.20,198.75,209.75,197.20,207.60,208.75,205.11,34075363,6.989202e+14,171300.0,4578621,0.1344
2668,2020-09-29,ZEEL,EQ,208.75,210.00,214.60,204.30,208.55,207.80,209.57,45045743,9.440054e+14,197076.0,6072005,0.1348
2669,2020-09-30,ZEEL,EQ,207.80,209.00,213.00,206.15,210.00,208.90,209.94,31203625,6.550914e+14,134228.0,8507629,0.2726
2670,2020-10-01,ZEEL,EQ,208.90,211.00,215.00,210.50,214.70,214.00,213.33,19070023,4.068192e+14,95790.0,2804067,0.1470

In [93]:
raw_data.shape

(244901, 15)

In [94]:
raw_data.isnull().sum()

Date                      0
Symbol                    0
Series                    0
Prev Close                0
Open                      0
High                      0
Low                       0
Last                      0
Close                     0
VWAP                      0
Volume                    0
Turnover                  0
Trades                30684
Deliverable Volume        0
%Deliverble               0
dtype: int64

In [95]:
# to calculate the simple moving average - 5, 10 , 50, 100, 200 days
raw_data['SMA-5'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.rolling(window=5).mean())
raw_data['SMA-10'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.rolling(window=10).mean())
raw_data['SMA-50'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.rolling(window=50).mean())
raw_data['SMA-100'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.rolling(window=100).mean())
raw_data['SMA-200'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.rolling(window=200).mean())

In [96]:
# to calculate the exponential moving average - 5, 10 , 50, 100, 200 days
raw_data['EMA-5'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.ewm(span=5).mean())
raw_data['EMA-10'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.ewm(span=10).mean())
raw_data['EMA-50'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.ewm(span=50).mean())
raw_data['EMA-100'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.ewm(span=100).mean())
raw_data['EMA-200'] = raw_data.groupby('Symbol')['Close'].transform(lambda x:x.ewm(span=200).mean())

In [97]:
raw_data.head(50)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,...,SMA-5,SMA-10,SMA-50,SMA-100,SMA-200,EMA-5,EMA-10,EMA-50,EMA-100,EMA-200
0,2010-01-08,ABBOTINDIA,EQ,783.75,755.00,807.00,755.00,807.00,807.00,784.12,...,NaN,NaN,NaN,NaN,NaN,807.000000,807.000000,807.000000,807.000000,807.000000
1,2010-01-11,ABBOTINDIA,EQ,807.00,825.00,825.00,790.00,804.80,804.80,793.90,...,NaN,NaN,NaN,NaN,NaN,805.680000,805.790000,805.878000,805.889000,805.894500
2,2010-01-12,ABBOTINDIA,EQ,804.80,800.00,805.00,790.00,790.00,790.00,799.36,...,NaN,NaN,NaN,NaN,NaN,798.252632,799.442525,800.372244,800.486390,800.543264
3,2010-01-13,ABBOTINDIA,EQ,790.00,787.00,787.00,720.00,767.00,767.00,758.53,...,NaN,NaN,NaN,NaN,NaN,785.270769,788.754158,791.522061,791.861988,792.031243
4,2010-01-14,ABBOTINDIA,EQ,767.00,769.00,798.00,769.00,785.10,785.10,791.73,...,790.78,NaN,NaN,NaN,NaN,785.205213,787.705149,790.132883,790.454959,790.617132
5,2010-01-15,ABBOTINDIA,EQ,785.10,768.50,805.00,768.50,798.70,797.05,798.21,...,788.79,NaN,NaN,NaN,NaN,789.533459,790.132330,791.404031,791.609816,791.716258
6,2010-01-18,ABBOTINDIA,EQ,797.05,808.00,808.00,791.00,800.00,799.55,800.12,...,787.74,NaN,NaN,NaN,NaN,793.079869,792.401610,792.711941,792.813309,792.869215
7,2010-01-19,ABBOTINDIA,EQ,799.55,804.00,805.00,791.50,791.50,792.40,802.60,...,788.22,NaN,NaN,NaN,NaN,792.844044,792.401244,792.667276,792.757958,792.808490
8,2010-01-20,ABBOTINDIA,EQ,792.40,800.90,800.90,783.25,787.55,786.45,793.07,...,792.11,NaN,NaN,NaN,NaN,790.655774,791.106461,791.860896,791.999708,792.073403
9,2010-01-21,ABBOTINDIA,EQ,786.45,751.00,800.00,751.00,784.00,780.00,779.69,...,791.09,790.935,NaN,NaN,NaN,787.041167,788.773481,790.450186,790.688891,790.811012
10,2010-01-22,ABBOTINDIA,EQ,780.00,775.00,780.00,736.10,780.00,780.00,770.71,...,787.68,788.235,NaN,NaN,NaN,784.666659,786.981168,789.299035,789.617119,789.778319
11,2010-01-25,ABBOTINDIA,EQ,780.00,765.00,787.95,745.00,753.70,753.70,761.74,...,778.51,783.125,NaN,NaN,NaN,774.264265,780.331652,785.637349,786.283932,786.603692
12,2010-01-27,ABBOTINDIA,EQ,753.70,765.00,765.00,751.00,752.90,752.35,759.36,...,770.50,779.360,NaN,NaN,NaN,766.921782,774.839714,782.418312,783.349038,783.807815
13,2010-01-28,ABBOTINDIA,EQ,752.35,752.35,765.00,741.00,754.90,752.45,748.80,...,763.70,777.905,NaN,NaN,NaN,762.081274,770.507901,779.677790,780.843699,781.419485
14,2010-01-29,ABBOTINDIA,EQ,752.45,750.00,750.00,730.00,730.00,730.00,736.87,...,753.70,772.395,NaN,NaN,NaN,751.363039,762.760993,775.360393,776.959255,777.746391
15,2010-02-01,ABBOTINDIA,EQ,730.00,697.10,782.00,697.10,753.00,753.35,748.38,...,748.37,768.025,NaN,NaN,NaN,752.026369,760.978000,773.534591,775.252134,776.104605
16,2010-02-02,ABBOTINDIA,EQ,753.35,800.00,800.00,765.00,770.05,770.35,784.11,...,751.70,765.105,NaN,NaN,NaN,758.140452,762.740142,773.281493,774.915356,775.738345
17,2010-02-03,ABBOTINDIA,EQ,770.35,764.00,783.00,764.00,781.00,779.25,774.09,...,757.08,763.790,NaN,NaN,NaN,765.181732,765.825219,773.737487,775.199265,775.950460
18,2010-02-04,ABBOTINDIA,EQ,779.25,778.15,794.90,770.20,776.70,775.15,775.77,...,761.62,762.660,NaN,NaN,NaN,768.505988,767.558927,773.841534,775.196179,775.904432
19,2010-02-05,ABBOTINDIA,EQ,775.15,772.25,772.25,740.10,759.90,755.20,751.83,...,766.66,760.180,NaN,NaN,NaN,764.069324,765.270493,772.514105,773.995156,774.767931
20,2010-02-06,ABBOTINDIA,EQ,755.20,775.00,775.00,741.65,751.95,751.95,755.01,...,766.38,757.375,NaN,NaN,NaN,760.028739,762.812238,771.095168,772.722312,773.569285
21,2010-02-08,ABBOTINDIA,EQ,751.95,765.05,770.00,756.00,758.15,760.25,761.16,...,764.36,758.030,NaN,NaN,NaN,760.102503,762.340672,770.368488,772.028505,772.898187
22,2010-02-09,ABBOTINDIA,EQ,760.25,766.00,789.00,760.10,789.00,786.50,771.42,...,765.81,761.445,NaN,NaN,NaN,768.902453,766.777190,771.420154,772.805679,773.556886
23,2010-02-10,ABBOTINDIA,EQ,786.50,785.00,795.00,780.00,785.05,785.05,783.07,...,767.79,764.705,NaN,NaN,NaN,774.285288,770.126644,772.286229,773.441683,774.092844
24,2010-02-11,ABBOTINDIA,EQ,785.05,795.00,814.00,792.05,798.00,801.25,799.79,...,777.00,771.830,NaN,NaN,NaN,783.273881,775.823180,774.082953,774.841146,775.314450
25,2010-02-15,ABBOTINDIA,EQ,801.25,810.00,810.00,775.00,785.00,785.45,789.07,...,783.70,775.040,NaN,NaN,NaN,783.999273,777.583052,774.772360,775.359226,775.754945
26,2010-02-16,ABBOTINDIA,EQ,785.45,799.95,799.95,784.15,792.00,788.70,787.10,...,789.39,776.875,NaN,NaN,NaN,785.566210,779.613321,775.599340,775.992338,776.299300
27,2010-02-17,ABBOTINDIA,EQ,788.70,804.00,810.00,789.35,803.55,803.65,802.87,...,792.82,779.315,NaN,NaN,NaN,791.594211,783.999544,777.231986,777.269564,777.413658
28,2010-02-18,ABBOTINDIA,EQ,803.65,809.85,914.45,808.00,866.00,871.10,880.83,...,810.03,788.910,NaN,NaN,NaN,818.096348,799.883153,782.593624,781.491277,781.116720
29,2010-02-19,ABBOTINDIA,EQ,871.10,860.00,884.95,845.00,860.00,865.95,865.17,...,822.97,799.985,NaN,NaN,NaN,834.047648,811.924560,787.271107,785.197953,784.373532
30,2010-02-22,ABBOTINDIA,EQ,865.95,880.00,890.00,874.50,880.00,880.20,881.21,...,841.92,812.810,NaN,NaN,NaN,849.431819,824.363000,792.399089,789.269289,787.950645
31,2010-02-23,ABBOTINDIA,EQ,880.20,893.00,928.00,872.00,917.80,914.15,908.66,...,867.01,828.200,NaN,NaN,NaN,871.004596,840.714501,799.011939,794.500486,792.536008
32,2010-02-24,ABBOTINDIA,EQ,914.15,920.00,940.00,910.00,926.45,923.40,926.71,...,890.96,841.890,NaN,NaN,NaN,888.469758,855.768258,805.667534,799.783344,797.168630
33,2010-02-25,ABBOTINDIA,EQ,923.40,939.00,939.60,910.00,915.00,916.20,918.78,...,899.98,855.005,NaN,NaN,NaN,897.713181,866.767823,811.498432,804.455630,801.277796
34,2010-02-26,ABBOTINDIA,EQ,916.20,862.05,919.95,862.05,908.00,907.30,901.36,...,908.25,865.610,NaN,NaN,NaN,900.908790,874.143879,816.484733,808.500954,804.850086
35,2010-03-02,ABBOTINDIA,EQ,907.30,949.40,949.40,892.00,900.00,898.20,901.11,...,911.85,876.885,NaN,NaN,NaN,900.005859,878.520909,820.683981,811.961618,807.922450
36,2010-03-03,ABBOTINDIA,EQ,898.20,900.00,900.00,863.00,869.10,869.95,877.32,...,903.01,885.010,NaN,NaN,NaN,889.987237,876.961633,823.185253,814.157620,809.918098
37,2010-03-04,ABBOTINDIA,EQ,869.95,883.90,900.00,865.00,895.00,889.75,892.40,...,896.28,893.620,NaN,NaN,NaN,889.908158,879.287925,826.526190,816.969477,812.430736
38,2010-03-05,ABBOTINDIA,EQ,889.75,895.00,895.00,881.25,881.25,885.70,890.08,...,890.18,895.080,NaN,NaN,NaN,888.505438,880.454222,829.463928,819.482375,814.688231
39,2010-03-08,ABBOTINDIA,EQ,885.70,889.85,899.90,885.00,892.00,892.20,891.77,...,887.16,897.705,NaN,NaN,NaN,889.736959,882.590516,832.546367,822.097224,817.027640
40,2010-03-09,ABBOTINDIA,EQ,892.20,888.00,895.00,873.20,885.65,875.10,884.59,...,882.54,897.195,NaN,NaN,NaN,884.857972,881.228240,834.616641,823.972843,818.745585
41,2010-03-10,ABBOTINDIA,EQ,875.10,890.00,890.00,867.25,870.00,870.00,882.61,...,882.55,892.780,NaN,NaN,NaN,879.905315,879.186295,836.321984,825.576620,820.232642
42,2010-03-11,ABBOTINDIA,EQ,870.00,853.30,884.00,853.30,873.95,868.45,874.97,...,878.29,887.285,NaN,NaN,NaN,876.086876,877.233892,837.856650,827.048368,821.605414
43,2010-03-12,ABBOTINDIA,EQ,868.45,860.05,889.90,860.05,880.05,880.30,875.41,...,877.21,883.695,NaN,NaN,NaN,877.491251,877.791448,839.866860,828.850205,823.246093
44,2010-03-15,ABBOTINDIA,EQ,880.30,865.55,880.00,862.00,864.95,864.80,870.55,...,871.73,879.445,NaN,NaN,NaN,873.260834,875.429084,841.038206,830.049777,824.387100
45,2010-03-16,ABBOTINDIA,EQ,864.80,865.00,930.00,864.95,901.00,895.85,909.81,...,875.88,879.210,NaN,NaN,NaN,880.790556,879.142341,843.593397,832.216011,826.315599
46,2010-03-17,ABBOTINDIA,EQ,895.85,908.90,915.00,893.30,905.00,904.85,906.21,...,882.85,882.700,NaN,NaN,NaN,888.810371,883.816836,846.428048,834.576256,828.399429
47,2010-03-18,ABBOTINDIA,EQ,904.85,905.00,905.00,880.10,881.25,882.05,892.37,...,885.57,881.930,NaN,NaN,NaN,886.556914,883.495572,848.064900,836.099583,829.799770
48,2010-03-19,ABBOTINDIA,EQ,882.05,880.05,899.90,880.05,888.00,891.35,889.34,...,887.78,882.495,NaN,NaN,NaN,888.154609,884.923726,850.040572,837.850928,831.380766
49,2010-03-22,ABBOTINDIA,EQ,891.35,896.00,925.05,895.00,901.25,905.60,912.83,...,895.94,883.835,826.528,NaN,NaN,893.969739,888.683214,852.560289,839.973213,833.257647

In [110]:
raw_data.isnull().sum()

Date                      0
Symbol                    0
Series                    0
Prev Close                0
Open                      0
High                      0
Low                       0
Last                      0
Close                     0
VWAP                      0
Volume                    0
Turnover                  0
Trades                30684
Deliverable Volume        0
%Deliverble               0
SMA-5                   424
SMA-10                  954
SMA-50                 5194
SMA-100               10494
SMA-200               21020
EMA-5                     0
EMA-10                    0
EMA-50                    0
EMA-100                   0
EMA-200                   0
dtype: int64

In [111]:
raw_data

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,...,SMA-5,SMA-10,SMA-50,SMA-100,SMA-200,EMA-5,EMA-10,EMA-50,EMA-100,EMA-200
0,2010-01-08,ABBOTINDIA,EQ,783.75,755.00,807.00,755.00,807.00,807.00,784.12,...,NaN,NaN,NaN,NaN,NaN,807.000000,807.000000,807.000000,807.000000,807.000000
1,2010-01-11,ABBOTINDIA,EQ,807.00,825.00,825.00,790.00,804.80,804.80,793.90,...,NaN,NaN,NaN,NaN,NaN,805.680000,805.790000,805.878000,805.889000,805.894500
2,2010-01-12,ABBOTINDIA,EQ,804.80,800.00,805.00,790.00,790.00,790.00,799.36,...,NaN,NaN,NaN,NaN,NaN,798.252632,799.442525,800.372244,800.486390,800.543264
3,2010-01-13,ABBOTINDIA,EQ,790.00,787.00,787.00,720.00,767.00,767.00,758.53,...,NaN,NaN,NaN,NaN,NaN,785.270769,788.754158,791.522061,791.861988,792.031243
4,2010-01-14,ABBOTINDIA,EQ,767.00,769.00,798.00,769.00,785.10,785.10,791.73,...,790.78,NaN,NaN,NaN,NaN,785.205213,787.705149,790.132883,790.454959,790.617132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,2020-09-25,ZEEL,EQ,190.35,197.55,201.50,183.20,197.30,198.20,192.54,...,197.63,207.905,184.363,178.3200,199.09725,198.979075,204.265870,193.784020,188.921231,209.342376
2667,2020-09-28,ZEEL,EQ,198.20,198.75,209.75,197.20,207.60,208.75,205.11,...,197.24,207.160,185.443,178.9010,198.72375,202.236050,205.081167,194.370921,189.313880,209.336481
2668,2020-09-29,ZEEL,EQ,208.75,210.00,214.60,204.30,208.55,207.80,209.57,...,199.38,206.195,186.524,179.4250,198.34125,204.090700,205.575500,194.897552,189.679942,209.321193
2669,2020-09-30,ZEEL,EQ,207.80,209.00,213.00,206.15,210.00,208.90,209.94,...,202.80,205.500,187.562,179.9635,197.98725,205.693800,206.179954,195.446667,190.060537,209.317002
2670,2020-10-01,ZEEL,EQ,208.90,211.00,215.00,210.50,214.70,214.00,213.33,...,207.53,204.790,188.663,180.4520,197.66600,208.462533,207.601781,196.174249,190.534586,209.363599